name: cached_video_player
description: A new flutter plugin that is virtually a clone of official video_player plugin except that it supports caching( Android and iOS)
version: 3.0.0
homepage: https://github.com/vikram25897/flutter_cached_video_player

flutter:
  plugin:
    platforms:
      android:
        package: com.lazyarts.vikram.cached_video_player
        pluginClass: CachedVideoPlayerPlugin
      ios:
        pluginClass: CachedVideoPlayerPlugin
      web:
        default_package: video_player_web
        fileName: lib/cached_video_player_web.dart

dependencies:
  meta: ^1.7.0
  video_player_platform_interface: ^5.0.2
  video_player_web: ^2.0.14

  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter

dev_dependencies:
  lints: ^1.0.1
  pedantic: ^1.11.1
  pigeon: ^3.1.0

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

